.endgame-screen {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  font-family: "Nova Square";
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
  background-color: rgba(0,0,0,.6);
}

.endgame-screen .title {
  font-size: 15rem;
}

.endgame-screen .text {
  font-size: 2rem;
}

.endgame-screen.show {
  transition: opacity .3s linear;
  opacity: 1;
}

.endgame-screen.show ~ .city,
.endgame-screen.show ~ .player  {
  pointer-events: none;
  opacity: 1;
}

.endgame-screen.hide {
  opacity: 0;
}


.casts {
  min-width: 1880px;
  max-width: 1880px;
  min-height: 970px;
  max-height: 970px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.casts .cast {
  border: 1px solid rgba(100,100,100,.5);
  width: 200px;
  height: 350px;
  margin-right: 20px;
  color: white;
  font-family: "Nova Square";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
  font-size: 16px;
  transition: transform .4s linear, background-color .4s linear, color .4s linear, font-size .4s linear;
}

.casts .cast:hover {
  transform: scale(1.1);
  background-color: rgba(150,150,150,.8);
  color: black;
  font-size: 22px;
}

.waiting-room-wrapper {
  min-width: 1880px;
  max-width: 1880px;
  min-height: 970px;
  max-height: 970px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting-room-wrapper .waiting-room-players {
  width: 450px;
  min-height: 250px;
  background-color: rgba(0,0,120,.8);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,255,.8),
              0 0 30px rgba(0,0,255,.8);
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waiting-room-wrapper .waiting-room-players:after,
.waiting-room-wrapper .waiting-room-players:before {
  content: "";
  display: block;
  clear: both;
  height: 20px;
}

.waiting-room-wrapper .waiting-room-players .waiting-room-player {
  width: 200px;
  height: 50px;
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.waiting-room-wrapper .waiting-room-players .waiting-room-player:hover {
  background-color: rgba(200,200,255,.8);
  box-shadow: 0 0 5px rgba(200,200,255,.8),
              0 0 5px rgba(200,200,255,.8);
}
.waiting-room-wrapper .waiting-room-players .waiting-room-player:nth-last-child(1) {
  margin-bottom: 0;
}

.waiting-room-wrapper .waiting-room-players  button {
  width: 100px;
  height: 40px;
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(255,255,255,.8),
              0 0 5px rgba(255,255,255,.8);
  cursor: pointer;
  border: none;
}

.waiting-room-wrapper .waiting-room-players  button:hover {
  background-color: rgba(200,200,255,.8);
  box-shadow: 0 0 5px rgba(200,200,255,.8),
              0 0 5px rgba(200,200,255,.8);
}

.waiting-room-wrapper .waiting-room-players .waiting-loader {
  width: 300px;
  height: 40px;
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.waiting-room-wrapper .waiting-room-players .waiting-loader span{
  margin-top: -7px;
  margin-left: 5px;
  font-size: 30px;
}

.waiting-room-wrapper .waiting-room-players .waiting-loader span:nth-child(1) {
  animation: loader1 1s infinite;
}

.waiting-room-wrapper .waiting-room-players .waiting-loader span:nth-child(2) {
  animation: loader2 1s infinite;
}

.waiting-room-wrapper .waiting-room-players .waiting-loader span:nth-child(3) {
  animation: loader3 1s infinite;
}

.ready-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  min-height: 300px;
  min-width: 200px;
  background-color: rgba(0,0,120,.8);
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px rgba(0,0,255,.8),
              0 0 30px rgba(0,0,255,.8);
}

.ready-wrapper .ready-players {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  position: relative;
  color: white;
}

.ready-wrapper .ready-players:nth-child(1) {
  margin-top: 15px;
}

.ready-players .ready-player {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
}

.ready-player .player-click {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.waitingfor-wrapper {
  width: 100%;
  position: absolute;
  top: 80px;
  height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.waitingfor {
  min-width: 500px;
  max-width: 90%;
  overflow: hidden;
  display: inline;
  padding: 30px;
  background-color: rgba(0,0,0,.8);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.8),
              0 0 30px rgba(0,0,0,.8);
}

@keyframes loader1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
