.endgame-screen {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  font-family: "Nova Square";
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
  background-color: rgba(0,0,0,.6);
}

.endgame-screen .title {
  font-size: 15rem;
}

.endgame-screen .text {
  font-size: 2rem;
}

.endgame-screen.show {
  transition: opacity .3s linear;
  opacity: 1;
}

.endgame-screen.show ~ .city,
.endgame-screen.show ~ .player  {
  pointer-events: none;
  opacity: 1;
}

.endgame-screen.hide {
  opacity: 0;
}


.casts {
  min-width: 1880px;
  max-width: 1880px;
  min-height: 970px;
  max-height: 970px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.casts .cast {
  border: 1px solid rgba(100,100,100,.5);
  width: 200px;
  height: 350px;
  margin-right: 20px;
  color: white;
  font-family: "Nova Square";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
  font-size: 16px;
  transition: transform .4s linear, background-color .4s linear, color .4s linear, font-size .4s linear;
}

.casts .cast:hover {
  transform: scale(1.1);
  background-color: rgba(150,150,150,.8);
  color: black;
  font-size: 22px;
}
