.city {
  position: absolute;
  /* border: 1px solid red; */
  text-align: center;
  width: 150px;
  height: 80px;
}

.city .circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  z-index:2;
}

.city .circle:hover:after  {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 3px solid rgba(255,255,255,1);
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
  animation: cityhover 4s infinite linear normal;
  z-index: 6;
}

.city .name{
  font-family:  "Titillium Web", sans-serif;
  font-size: 16px;
  color: rgba(255,255,255,1);
  -webkit-text-stroke: 1px rgba(200,200,200,.7);
  text-transform: uppercase;
}

.city .base {
  width: 21px;
  height: 21px;
  position: absolute;
  top: -20px;
  left: 53.5px;
  z-index: 1;
}

.city .base svg{
  width: 100%;
  height: 100%;
  fill: rgba(255,255,255,1);
  /* border: 1px solid red; */
}

.city .base svg path{
  stroke: rgba(255,50,50,1);
  stroke-width: 1;
  d: path("M10 1 L20 5 20 20 1 20 1 5 10 1");
}

.city .infections {
  width: 10px;
  height: 50px;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 45px;
  z-index: 0;
}

.city .infections .infection{
  width: 8px;
  height: 8px;
  border: 1px solid white;
  position: absolute;
}

.city .infections :nth-child(1) {

}

.city .infections :nth-child(2) {
  top: 13px;
}

.city .infections :nth-child(3) {
top: 26px;
}


svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

svg path {
  stroke: rgba(255,255,255,0.2);
  stroke-width: 2;
}


@keyframes cityhover{
  0% {
    transform: rotate(0deg) scale(1);
  }
  15% {
    transform: rotate(54deg) scale(1.2);
  }
  30% {
    transform: rotate(108deg) scale(1);
  }
  46% {
    transform: rotate(165deg) scale(1.2);
  }
  63% {
    transform: rotate(227deg) scale(1);
  }
  80% {
    transform: rotate(288deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
